<footer class="text-white" style="background-color: #dcb14a;">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-black-50" href="#">Help &amp; Contact Us</a></li>
                <li><a class="footer-link text-black-50" href="#">Returns &amp; Refunds</a></li>
                <li><a class="footer-link text-black-50" href="#">Online Stores</a></li>
                <li><a class="footer-link text-black-50" href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-black-50" href="#">What We Do</a></li>
                <li><a class="footer-link text-black-50" href="#">Available Services</a></li>
                <li><a class="footer-link text-black-50" href="#">Latest Posts</a></li>
                <li><a class="footer-link text-black-50" href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-black-50" href="#">Twitter</a></li>
                <li><a class="footer-link text-black-50" href="#">Instagram</a></li>
                <li><a class="footer-link text-black-50" href="#">Tumblr</a></li>
                <li><a class="footer-link text-black-50" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; {% now "Y" %} All rights reserved.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white" href="mailto:dev@ladwongdevelopers.dev" target="_blank">MrDollars</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>